/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Yeseva One', cursive;
}
html,
body { height: 100% }
body {
    font-family: 'Gentium Book Basic', serif;
    font-size: 16px;

}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

.top-area {position: relative}
.top-area-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.slide-bg-1 {background: url(img/header-bg.jpg)}
.slide-bg-2 {background: url(img/parallax-bg-3.jpg)}
.logo {
  position: relative;
}

.logo::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  content: '';

  box-shadow: inset 0 2px #FFF;
  background: -50px center no-repeat;
  background-image: linear-gradient(125deg,rgba(255,255,255,0) 30%,#FFF 30%,#FFF 50%,rgba(255,255,255,0) 50%);
  background-clip: padding-box;
  opacity: .3;
  transition: background-position 0.07s 0.4s;
}

.logo:hover::after{
  background-position: 100px center;
}

.logo img {
    height:  90px;
}

.is-sticky .header-area::after {
    background: #000;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.is-sticky .logo img {
    height: 56px;
    width: auto;
    padding: 5px; 
}
.is-sticky .mainmenu ul.nav.navbar-nav li a {
    padding: 22px 15px;
}
.is-sticky .mainmenu ul.nav.navbar-nav li.active a {
    color: #CC9900;
}
.header-text {
    padding: 100px 0;
}
.is-sticky .social-link {
    top: 18px;
}
.header-area::after, 
.logo img, 
.mainmenu ul.nav.navbar-nav li a, 
.social-link {
    transition: .4s;
}
.sticky-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header-text-area {
    position: relative;
    padding-top: 80px;
}
.header-text h2 {
    background: url(img/line_symbol.png);
    color: #fff;
    font-size: 70px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 70px;
    margin-bottom: 40px;
}
.slide-control {
    color: #fff;
    font-size: 80px;
    left: 30px;
    margin-top: -70px;
    opacity: 0.2;
    position: absolute;
    top: 50%;
}
.slide-control.right {
    left: auto;
    right: 30px;
}
.slide-control:hover {
    opacity: 1;
    color: #fff;
}
#top-slide-carousel.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
#top-slide-carousel.carousel-fade .carousel-inner .item,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#top-slide-carousel.carousel-fade .carousel-inner .active,
#top-slide-carousel.carousel-fade .carousel-inner .next.left,
#top-slide-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#top-slide-carousel.carousel-fade .carousel-inner .next,
#top-slide-carousel.carousel-fade .carousel-inner .prev,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#top-slide-carousel.carousel-fade .carousel-control {
  z-index: 2;
}
.mainmenu ul.nav.navbar-nav {
    float: none;
    text-align: right;
    font-size: 20px;
}
.mainmenu ul.nav.navbar-nav li {
    position: relative;
    float: none;
    display: inline-block;
}
.mainmenu ul.nav.navbar-nav li.active::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #C8C5BA;
}
.mainmenu ul.nav.navbar-nav li a {
    color: #fff;
    padding: 42px 15px;
}
.mainmenu ul.nav.navbar-nav li a:focus {
    background: none;
}
.mainmenu ul.nav.navbar-nav:hover a {
    background: none;
}

.btn-filled {
    position: relative;
    z-index: 1;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    margin: 0 5px;
}
.btn-filled::after {
    position: absolute;
    z-index: -1;
    background: #1D2122;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .8;
}
.btn-filled.yellow-color-btn::after {
    background-color: #D2BA82;
}
.mainmenu {
    position: relative;
    padding-right: 80px;
}
.social-link {
    position: absolute;
    right: 0;
    top: 40px;
}
.social-link a {
    color: #D8BA3D;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
}


.about-area {background: url(img/symphony.png)}
.section-padding {padding: 80px 0}
.section-title {
    background: url(img/section-title-pattern.png) no-repeat scroll bottom center;
    color: #cc9900;
    padding-bottom: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text {
    font-size: 17px;
    margin-top: 20px;
}
.author-photo {
    margin-top: 30px;
}

.ingredients-area {position: relative}
.parallax-bg {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-size: cover;
    background-attachment: fixed;
}
.ingredients-bg {
    background-image: url(img/parallax-bg.jpg);
}
.ingredients-text p {padding: 30px;}
.ingredients-text {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 30px;
}
.ingredients-text::after, .review-list::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}
.section-title.white-sec-title {
    color: #fff;
    background-image: url(img/section-title-pattern-white.png);
}


.food-menu-area {
    background: url(img/symphony.png);
}
.single-food-menu-item h2 {
    border-bottom: 1px solid;
    color: #c89f2d;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.single-food-menu-item span {
    float: right;
    font-weight: 400;
}
.single-food-menu-item {
    margin-bottom: 40px;
}


.single-food-menu-item.special {
    border: 1px solid #d6bb6c;
    padding: 10px;
    position: relative;
}
.single-food-menu-item.special::before {
    background: #d6bb6c none repeat scroll 0 0;
    color: #fff;
    content: "Special";
    font-size: 14px;
    padding: 1px 5px;
    position: absolute;
    right: -1px;
    text-transform: uppercase;
    top: -23px;
}
.single-food-menu-item.special p {
    margin: 0;
}
.review-area {
    position: relative
}
.review-bg{background-image: url(img/parallax-bg-4.jpg)}
.review-list {
    color: #fff;
    font-size: 25px;
    padding: 50px;
    position: relative;
    z-index: 1;
}
.review-list p.review-author {
    font-size: 18px;
    margin-top: 30px;
}
#review-carousel::before {
    font-family: FontAwesome; 
    content:"\f10d"; 
    position: absolute; 
    left: -30px; 
    top: -17px;
    color: #9A9B9A;
    font-size: 35px;
}
.contact-us-area {background: url(img/symphony.png)}

.contact-img img {
    margin-left: 30px;
    width: 245px;
}

.contact-form {
    text-align: left;
    margin-top: 30px;
}
.contact-form input[type="text"], .contact-form select {
    border: 1px solid #e2d4ac;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.contact-form label {
    color: #cb9821;
}


.contact-form button [type="text"] {
    background: #fff none repeat scroll 0 0;
}
.contact-form button[type="submit"] {
    background: #c8a03c none repeat scroll 0 0;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 5px 30px;
    width: 150px;
    color: #fff;
}

.footer-area {
    background: #191919 none repeat scroll 0 0;
    color: #bfbfbf;
    font-size: 15px;
    padding: 50px 0;
}

.footer-area .section-title {
    color: #fff;
    font-size: 20px;
    background-image: url(img/section-title-pattern-little.png) ;
}
.footer-area strong {
    color: #fff;
}
.footer-cards {
    color: #fff;
    margin-top: 20px;
}
.footer-cards i {
    margin: 0 2px;
}
.footer-social-icon a {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 0 3px;
}


